{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<br><br><br><br><br><br><br>
<h1 class="text-center">Listado de Muestreos</h1>
<hr>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr class="table-success text-center">
            <th>ID</th>
            <th>FECHA</th>
            <th>RESULTADOS</th>
            <th>EMPLEADO</th>
            <th>VIÑEDO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for muestreoTemporal in muestreo %}
            <tr>
                <td>{{muestreoTemporal.id}}</td>
                <td>{{muestreoTemporal.fecha}}</td>
                <td>{{muestreoTemporal.resultados}}</td>
                <td>{{muestreoTemporal.analista.nombre}}</td>
                <td>{{muestreoTemporal.vinedo.variedad_uva}}</td>
                <td>
                    <a href="editarMuestreo/{{muestreoTemporal.id}}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-outline-danger" onclick="confirmarEliminacion('{{muestreoTemporal.id}}')">
                        <i class="fa fa-trash"></i>
                    </a>
                    <script>
                        function confirmarEliminacion(id) {
                            Swal.fire({
                            title: '¿Estás seguro?',
                            text: '¡Esta acción no se puede deshacer!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí, eliminar',
                            cancelButtonText: 'Cancelar'
                            }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `eliminarMuestreo/${id}`;
                            }
                            });
                        }
                        </script>  
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center ">
    <a href="nuevoMuestreo" class="btn btn-primary " >
        Agregar Muestreo
    </a>
</div>
<br>
<br>
{% endblock %}